* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 249, 215);
}

@font-face {
    font-family: "Product Sans Regular";
    src: url(./fonts/Product\ Sans\ Regular.ttf );
}

@font-face {
    font-family: "crazy";
    src: url(./fonts/NoizeSport-Regular.ttf );
}

@font-face {
    font-family: "Product Sans Bold";
    src: url(./fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: "Product Sans Italic";
    src: url(./fonts/Product\ Sans\ Italic.ttf);
}

@font-face {
    font-family: "Product Sans Bold Italic";
    src: url(./fonts/Product\ Sans\ Bold\ Italic.ttf);
}

@font-face {
    font-family: "funky";
    src: url(./fonts/funky.otf);
}

.mm {
    height: 4rem;
}

* {
    font-family: Product Sans Regular;
    /* background-color: black; */
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0) !important;
}

.logo {
    background-color: rgba(0, 0, 0, 0.288);
    height: 100%;
    /* width:500px; */

}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* background-color: rgba(66, 55, 55, 0.288); */
}

.container {
    color: #333;
    margin-top: 5rem;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-weight: normal;

    letter-spacing: .125rem;
    text-transform: uppercase;
}

.container li {
    display: inline-block;
    font-size: 1.25rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.container li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.cardd .container #headline {
    font-weight: bold;
    font-size: 4rem;
}

.maincard {
    background-color: black;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

.cardd {
    margin: 10% 24%;
    margin-top: 5rem;
    box-shadow: 0px 1px 2rem rgb(255, 243, 177);
    border: 2px solid silver;
    background-color: rgb(15, 13, 13);
    transition: all .2s ease-in-out;
    width: 55%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.cardd:hover {
    transform: scale(1.1);
    color: antiquewhite !important;
}

.cardd .heading {
    font-size: 3rem !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem 0rem;
}

.cardd .content {
    text-align: center;
    color: rgb(255, 255, 255);
}

.cardd .content ul li {
    list-style: none;
}

.cardd .heading {
    text-align: center;
}

.ccard h1 {
    font-size: 1rem;
    text-align: center;
}

.ccard p {
    text-align: center;

}

.ccard .contactno {
    text-align: center;
}

.cardd {
    /* margin: 2rem;
    margin-top: 3rem; */
    /* box-shadow: 0px 1px 20px gold; */
    /* border: 2px solid gold; */
    border-radius: 1rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 1rem;
}

.cardd .heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}


.headingmain {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    font-family: crazy;
    font-weight: bold;
    margin-bottom: 1rem;
}

.maincon {
    text-align: center;
    font-size: 2rem;
    margin: 5% 25%;
}

.dp-container {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 1px;
    z-index: 1000;
    background-color: rgb(220, 220, 220);
    left: 400px;
    bottom: 20px;
}

.profileimg {
    object-fit: scale-down;
    height: 100px;
    padding-top: 2rem;
    clip-path: circle();
}

.wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerr {
    overflow: hidden;
    box-shadow: 1px 2px 15px gold;
    background-color: rgb(0, 0, 0) !important;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    border: 2px solid gold;
    width: 280px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}



.profile-img {
    width: 8rem;
    margin-top: 1rem;
    clip-path: circle(60px at center);
    /* margin-top: 4.5rem;1 */
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
}

.dgdg {
    padding-top: 3rem;
}
.logoo a{
    text-decoration: none;
    color: antiquewhite;
    font-family: crazy;
    font-size: 1.5rem;
}
.logoo a:hover{
    color:antiquewhite;
}
@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }

    .headingmain {
        font-size: 3rem !important;
        margin-top: 8rem;
    }

    .maincon {
        font-size: 1rem !important;
        /* margin: 5% 10%; */
        margin: 5% 5% !important;
    }

    .cardd .container #headline {
        font-weight: bold;
        font-size: 2.5rem;
    }

    .cardd {
        margin: 2rem;
        margin-top: 3rem;
        box-shadow: none;
        border:none;
        border-radius: 1rem;
        margin-bottom: 3rem;
        margin: 5% 5%;
        ;
        width: auto;
        padding: 1rem;
    }
.buffer{
    height: 2rem;
}
    .dgdg {
        padding-top: 8rem;
        
    }
    .logo{
        background-color: rgba(255, 255, 255, 0);
    }

    .cardd .heading {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
    }
}