* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 249, 215);
}

@font-face {
    font-family: "Product Sans Regular";
    src: url(./fonts/Product\ Sans\ Regular.ttf );
}

@font-face {
    font-family: "Product Sans Bold";
    src: url(./fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: "Product Sans Italic";
    src: url(./fonts/Product\ Sans\ Italic.ttf);
}

@font-face {
    font-family: "Product Sans Bold Italic";
    src: url(./fonts/Product\ Sans\ Bold\ Italic.ttf);
}

@font-face {
    font-family: "funky";
    src: url(./fonts/funky.otf);
}
.mm{
    height: 4rem;
}
* {
    font-family: Product Sans Regular;
    /* background-color: black; */
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0)!important;
}

.logo {
    background-color: rgba(0, 0, 0, 0.288);
    height: 100%;
    /* width:500px; */

}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* background-color: rgba(66, 55, 55, 0.288); */
}

.container {
    color: #333;
    margin-top: 5rem;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-weight: normal;

    letter-spacing: .125rem;
    text-transform: uppercase;
}

.container li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.container li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.cardd .container #headline {
    font-weight: bold;
}

.maincard{
    background-color: black;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

.cardd {
    margin: auto;
    margin-top: 3rem;
    box-shadow: 0px 1px 2rem gold;
    border: 2px solid gold;
    background-color: rgb(15, 13, 13);
    transition: all .2s ease-in-out;
    width: 35%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.cardd:hover {
    transform: scale(1.1);
    color: antiquewhite !important;
}

.cardd .heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.cardd .content {
    text-align: center;
color: rgb(255, 255, 255);
}

.cardd .content ul li {
    list-style: none;
}

.cardd .heading {
    text-align: center;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }

    .cardd {
        margin: 2rem;
        margin-top: 3rem;
        box-shadow: 0px 1px 20px gold;
        border: 2px solid gold;
        border-radius: 1rem;
        margin-bottom: 3rem;
        width: auto;
        padding: 1rem;
    }

    .cardd .heading {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.carousel-inner {
    /* position:relative; */
}

.dp-container {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 1px;
    z-index: 1000;
    background-color: rgb(220, 220, 220);
    left: 400px;
    bottom: 20px;
}